h1 {
  font-size: 2.2em;
  margin-bottom: 12px;
  margin-top: 24px;
}

body {
  font-family: Comfortaa, cursive;
  color: white;
  background-color: purple;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

.blacktxt {
  color: black;
}

#header {
  background-image: url("flowerFiller.png");
  padding: 30px;
  text-align: center;
}
